@import "tailwindcss";

@layer components{
    .logo{
       @apply p-4 text-2xl font-semibold md:text-3xl md:ml-3 md:p-2 ;
    }
    .main_content{
        @apply  flex flex-col justify-center items-center bg-amber-200 mt-3 border-3 border-amber-400 rounded-2xl md:w-auto md:h-auto md:justify-center md:items-center md:mx-auto; 
    }
    .title{
        @apply font-semibold text-2xl p-2 md:text-2xl md:pb-3 ;
    }
    .parent_poem{
        @apply w-full max-w-md overflow-y-auto px-3 md:max-h-none md:overflow-y-hidden md:max-w-3xl md:flex md:justify-center md:;
    }
    .poem{
       
        @apply ;
    }
    
}